.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-background {
  background: radial-gradient(78.73% 97.55% at 116.49% 121.29%, rgb(64, 81, 98) 0%, rgb(27, 63, 93) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 1rem;
}

.overlay {
  position: absolute;
  top: 2rem;
  left: 5%;
  height: 20rem;
  min-width: 18rem;

  background-color: aliceblue;
}

.overlay > div {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.overlay input {
  height: 2rem;
}

.overlay button {
  height: 2rem;
}
